services:
  mysql:
    image: mysql:8.0
    container_name: ticket-mysql
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: ticket_db
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p1234" ]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - ticket-network

  redis:
    image: redis:7-alpine
    container_name: ticket-redis
    ports:
      - "6380:6379"
    volumes:
      - redis-data:/data
    networks:
      - ticket-network

  app:
    build: .
    container_name: ticket-web
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - ticket-network
    environment:
      - SPRING_PROFILES_ACTIVE=docker


volumes:
  mysql-data:
  redis-data:

networks:
  ticket-network:
    driver: bridge